body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align logo to the left */
    gap: 10px;
    padding-left: 55px;
    padding-top: 20px;
}

.logo-img {
    width: 200px; /* Increased size */
    height: auto;
    max-height: 65px;
}

main{
    margin-top: 50px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
  
}

.options {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.option {
    cursor: pointer;
}

.option input {
    display: none;
}

.card {
    width: 260px;
    height: 140px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: 0.3s;
    margin-bottom: 15px;
}

.card i {
    font-size: 28px;
    color: #9d15bb;
    margin-bottom: 10px;
}

.option input:checked + .card {
    border-color: #ce1ad7;
    box-shadow: 0 0 10px rgba(169, 25, 185, 0.5);
}

.create-account {
    background: #ccc;
    border: none;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    cursor: not-allowed;
    transition: 0.3s;
}

.create-account.active {
    background: #b913c2;
    cursor: pointer;
}

.login-text {
    margin-top: 20px;
    font-size: 14px;
}

.login-text a {
    color: rgb(96, 0, 128);
    text-decoration: none;
}
